.main-div {
    padding: 6px;

    .icon {
        font-size: 1.7rem;
    }

    .header {
        font-size: 1.2rem;
        padding: 5px;
    }

    .sub-head {
        padding: 0.2rem 1.8rem;
    }

    .user-icon {
        font-size: 1.7rem;
        float: right;
    }
}