.dis {
    display: inline-block;
    min-width: 350px;

    .info-card {
        max-width: 350px;
        margin: 6px;
        padding: 10px;

        .icon {
            float: right;
            padding: 7px;
        }
    }
}