<!-- dumb component-->
<app-common [heading]="heading" [subDetails]="subDetails"></app-common>

<ng-container *ngFor="let item of blogObj; let index = index;">
    <div class="dis">
        <mat-card class="mat-card">
            <mat-card-content class="mat-card-content">
                <img mat-card-image [src]="item.imgPath" alt="Blog IMG" width="275" height="275">
            </mat-card-content>
            <mat-card-header class="mat-card-header">
                <div class="f-content"></div>
                <mat-card-title>{{item.title}}</mat-card-title>
                <mat-card-subtitle>{{item.details}}</mat-card-subtitle>
                <mat-icon>{{item.usericon}}</mat-icon><span class="f-info">{{item.username}}</span>
                <mat-icon class="date-icon">{{item.dateicon}}</mat-icon><span
                    class="f-info">{{item.date}}</span>
            </mat-card-header>
        </mat-card>
    </div>
</ng-container>