// We can defined colors here and use these variables inside the application.
// In multiple theme, we can easily overrite the color using these SCSS variable

$p-color: #47a1f6; //Primary Color
$bg-color: #f0f5fb; //Background Color
$text-color: #668094; //Text Color